# release automation
ondewo-devops-accounts
ondewo-proto-compiler
build_check.*
build_check.txt
build_check_temp.txt
RELEASE.md
README.md

npm
.idea/
.vscode/
node_modules

ondewo-vtsi-api/*
src/ondewo-vtsi-api/*
example/*

.isort.cfg
grpc_cert
